@charset "UTF-8";

*{

    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #56588c, #5E608C, #8082A6, #AEAFBF, #F2F2F2);
}

main{
    background-color: aliceblue;
    border-radius: 20px;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px #050507;
}

h1{
    color: #56588c;
    text-align: center;
    text-shadow: 1px 1px 2px #3f4066c7;
}
   
h2 {
    color:#8082A6;


p {
    text-align: justify;
}
